---
permalink: /
title: "Zhouheng Li"
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---

{% include base_path %}



<style>

  
  /* Default link style: gray text, no underline */
  a[sa] {
    color: #4e613e !important;
    text-decoration: none !important;
  }

  /* Visited links keep the same style */
  a[sa]:visited {
    color: #4e613e !important;
    text-decoration: none !important;
  }

  /* Hover and focus state: darker gray, underline */
  a[sa]:hover,
  a[sa]:focus {
    color: #2e3d1f !important;
    text-decoration: underline !important;
  }

  /* Right sidebar styles */
  .right-sidebar {
      position: fixed;  /* Fix the sidebar to the right */
      right: 240px;  /* Position it close to the content on the right */
      top: 50%;  /* Vertically center it */
      transform: translateY(-50%);  /* Adjust for exact vertical center */
      width: 240px;  /* Width of the sidebar */
      background-color: white;  /* White background */
      padding: 20px;  /* Padding inside the sidebar */
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);  /* Optional shadow for the sidebar */
  }
</style>

<aside class="sidebar__right">
  <nav class="toc">
      <header>
        <h4 class="nav__title">
          <i class="fas fa-align-justify"></i> On This Page
        </h4>
      </header>
      <ul class="toc__menu">
          <a sa href="#About_me-section" >👀 About Me</a>
          <a sa href="#Research-section" >🎯 Research</a>
          <a sa href="#Recent_Demo-section" >🏎️ Recent Demo</a>
          <a sa href="#News-section" >🔥 News</a>
          <a sa href="#publications-section" >📝 Publications</a>
          <a sa href="#Competitions-section" >🏁 Competitions</a>
          <!-- <a sa href="#Internships-section" >💻 Internships</a> -->
      </ul>
  </nav>
</aside>

<script src="{{ base_path }}/assets/js/popup.js"></script>
<script src="{{ base_path }}/assets/js/copy.js"></script>
<script src="{{ base_path }}/assets/js/replay.js"></script>

<h1 id="About_me-section"></h1>

<p style="line-height: 1.5; text-align: justify; font-size: 16px;"> 
    <span style="display: inline-block; text-indent: 2em;">I am currently a 4th year Ph.D. student in the College of Control Science and Engineering at <img src="{{ base_path }}/media/ico/zju.jpg" style="width: 18px; height: auto;" /> <a sa  href="https://www.zju.edu.cn/english/ "  target=_blank >Zhejiang University</a>
, Hangzhou, China, under the supervision of  <a sa href="https://scholar.google.com.hk/citations?hl=zh-CN&user=7ZZ_-m0AAAAJ" target=_blank  >Prof. Lei Xie</a> and <a sa href="https://scholar.google.com.hk/citations?hl=zh-CN&user=9rfFRjgAAAAJ" target=_blank  >Prof. Hongye Su</a>. Previously, I was mentored by <a sa href="https://yilundu.github.io/" target=_blank  >Prof. Yilun Du</a> from  Harvard University. ✨ Enjoyments of life: 🎲 Board Games (Splendor, Seven Wonders: Duel, etc), 👣 hiking, 🎾 tennis, 🏓 ping-pong, 🗺️ traveling. </span>
    
</p>   

<div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #d3d3d3;">
  <h1 id="Research-section">🎯 Research</h1>
</div>

<p style="line-height: 1.5; text-align: justify; font-size: 16px;"> 
    <span style="display: inline-block; text-indent: 2em;">My ultimate goal is to develop embodied intelligent autonomous systems capable of seamlessly interacting with the physical world.  (<a sa href="#publications-section" >📝 Publications</a>). To achieve this, my research focuses on motion planning techniques driven by physics-informed generative models, enabling safe generalization to out-of-distribution (OOD) scenarios. Currently, I am exploring planning strategies for both autonomous vehicle racing and drone racing, as well as advancing world models, with particular emphasis on the following key areas:</span> <br>
    <span style="display: inline-block;">⭐ <strong>End-to-End Motion Planning for Unmanned Systems</strong>: End-to-end approaches can directly learn motion patterns from data distributions, effectively bypassing the need for complex planning and control (PnC) rules. Conditional diffusion models, informed by physical and task-specific information, enable stable and safe generalization in motion generation, thus providing strong guarantees for overall system performance.</span> <br>  
    <span style="display: inline-block;">⭐ <strong>Multimodal Generative Models</strong>: Multimodal inputs form the foundation of intelligent systems. By leveraging classifier-free guidance (CFG) for model composition, diverse modalities—such as images, language, and states—can be efficiently integrated, enabling the embodied intelligent motion generation.</span> <br>     
    <span style="display: inline-block;">⭐ <strong>Physics-Informed World Models</strong>: At present, world models still face challenges in maintaining temporal consistency during long-horizon sequence generation. By incorporating physical knowledge, world models can generate in latent spaces that adhere to physical laws, thereby ensuring stability and consistency in their predictions.</span>  <br>   
    <span style="display: inline-block; text-indent: 2em;">I am also actively involved in applying these techniques to <a sa href="https://roboracer.ai/"  target=_blank >Roboracer competition</a>. If any of these topics caught your interest, feel free to drop me emails (📨 zh_li@zju.edu.cn). I enjoy collaborating on interesting projects and <strong>making amazing things happen together</strong>!</span>

<div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #d3d3d3;">
  <h1 id="Recent_Demo-section">🚀  Spotlights</h1>
</div>

  <p style="line-height: 1.5; text-align: justify; font-size: 16px;"> 
    <span style="display: inline-block; text-indent: 2em;">
   To demonstrate the effectiveness and robustness of my approaches, I present several demos that tackle distinct challenges: <b>(i)</b> Multi-Agent Motion Planning (MAMP) in mining transportation, which requires improving loading-area throughput while ensuring safety; <b>(ii)</b> end-to-end navigation, which emphasizes handling complex collision-free tasks under motion constraints; and <b>(iii)</b> racing, which demands highly integrated trajectory planning and control. In addition, I fuse physics into the BEV world model to enhance long-term prediction performance.


    </span>
  </p>

  <h2>Multi-Agent Motion Planning</h2>
  <p style="line-height: 1.5; text-align: justify; font-size: 16px;"> 
    <div style="text-align: center;">
      <img src="{{ base_path }}/media/dmsp/vis_abstract_dmsp.jpg" alt="racing" style="width: 100%; height: auto;" preload>
    </div>
  </p>
  <div class="left-caption" style="margin-top: 10px;">
    <b>The Decentralized Multi-Agent Safe Motion Planning framework enables reliable coordination in mining transportation.</b> It decomposes the planning problem into ego reference-line tracking and opponent collision avoidance. A lightweight diffusion model with a U-Net backbone is designed to capture these features, allowing agents to learn <b class="cpdfu_gradient_text">waiting</b> and <b class="cpdfu_gradient_text">proceeding</b> behaviors that ensure safe multi-agent interactions.
  </div>


  <h2>End2End Navigation</h2>
  <div class="video-container" style="gap: 5px" >
    <div class="continuous_racing_item" id="Static_id">
      <div class="multi_hor_rm2d_caption cal_our_qual_caption" > 
          Static  Model
        <span class="splide_kuka_prob_id_repl">
            <span class="replay_lb_suc" video_section="Static_id">
              <img src="media/replay.png" style="width: 15px; height: auto;" />
              <span>replay</span>
            </span>
        </span>
      </div>
          
      <video id="antmaze_exp_qual_list_dset" muted autoplay="" preload="metadata" style="max-width: 240px">
        <source src="{{ base_path }}/media/rstp/static_collision.mp4"  type="video/mp4">
      </video>
    </div>

    <div id="Dynamic_id">
      <div class="multi_hor_rm2d_caption cal_our_qual_caption" > 
        Dynamic  Model 
        <span class="splide_kuka_prob_id_repl">
          <span class="replay_lb_suc" video_section="Dynamic_id">
            <img src="media/replay.png" style="width: 15px; height: auto;"/>
            <span>replay</span>
          </span>
        </span>
      </div>

      <video id="antmaze_exp_qual_list_rollout" muted autoplay="" preload="metadata" style="max-width: 240px">
        <source src="{{ base_path }}/media/rstp/dynamic_collision.mp4" type="video/mp4">
      </video>

    </div>

    <div id="Composed_id">
      <div class="multi_hor_rm2d_caption cal_our_qual_caption" > 
        Composed Result
        <span class="splide_kuka_prob_id_repl">
          <span class="replay_lb_suc" video_section="Composed_id">
            <img src="media/replay.png" style="width: 15px; height: auto;"/>
            <span>replay</span>
          </span>
        </span>
      </div>

      <video id="antmaze_exp_qual_list_rollout" muted autoplay="" preload="metadata" style="max-width: 240px">
        <source src="{{ base_path }}/media/rstp/compose.mp4" type="video/mp4">
      </video>

    </div>
  </div>

  <div class="left-caption" style="margin-top: 10px;">
    <b>This diffusion composition approach guarantees safe, collision-free trajectory planning in <b class="cpdfu_gradient_text">unseen scenes</b> for safety.</b>  It can make test-time decisions to generate safe behaviors, such as accelerating to bypass or decelerating to avoid obstacles, thus allowing  safe trajecoty planning for diverse scenes without retraining.

    <div class=btn-links style="display: inline; margin-left: 5px;">
      <a class="btn btn-outline-primary btn-page-header btn-sm show-button-big" 
          href="https://rstp-comp-diffuser.github.io/" 
          style="text-decoration: none;"
          target=_blank 
          rel=noopener>
          Web
      </a>
    </div>

    <div class=btn-links style="display: inline; margin-left: 0px;">
      <a class="btn btn-outline-primary btn-page-header btn-sm show-button-big" 
          href="https://arxiv.org/abs/2507.04384" 
          style="text-decoration: none;"
          target=_blank 
          rel=noopener>
          PDF
      </a>
    </div>

    <div class=btn-links style="display: inline; margin-left: 0px;">
      <a class="btn btn-outline-primary btn-page-header btn-sm show-button-big" 
          href="https://github.com/zhouhengli/rstp-mpc-planner" 
          style="text-decoration: none;"
          target=_blank 
          rel=noopener>
          MPC
      </a>
    </div>

    <div class=btn-links style="display: inline; margin-left: 0px;">
      <a class="btn btn-outline-primary btn-page-header btn-sm show-button-big" 
          href="https://github.com/zhouhengli/ritp" 
          style="text-decoration: none;"
          target=_blank 
          rel=noopener>
          ItCA
      </a>
    </div>

  </div>

    
  <h2>Vehicle Racing</h2>
  <!-- <p style="line-height: 1.5; text-align: justify; font-size: 16px;">  -->
    <!-- <span style="display: inline-block; text-indent: 2em;">Implementation of the proposed VPMPCC planner on the F1TENTH platform. The safe and aggressive cornering velocity with in the  <strong>  sharp U-turn</strong> is 11.5 km/h.</span><br> -->
    <div style="text-align: center;">
        <img src="{{ base_path }}/media/racing.gif" alt="racing" style="width: 90%; height: auto;" preload>
    </div>

  <div class="left-caption" style="margin-top: 10px;">
    Implementation of the proposed VPMPCC planner on the F1TENTH platform. The safe and aggressive cornering velocity with in the  <b class="cpdfu_gradient_text">sharp U-turn</b> is 11.5 km/h.
  </div>
  <!-- </p> -->

  <h2>Physics-Informed BEV World Model</h2>
  <div class="video-container" style="gap: 20px" >
    <div class="continuous_racing_item" id="piwm1_baseline">
      <div class="multi_hor_rm2d_caption cal_our_qual_caption" > 
        Baseline with Eat up (<a sa href="https://arxiv.org/abs/2405.12399"  target=_blank >DIAMOND</a>)
        <span class="splide_kuka_prob_id_repl">
            <span class="replay_lb_suc" video_section="piwm1_baseline">
              <img src="media/replay.png" style="width: 15px; height: auto;" />
              <span>replay</span>
            </span>
        </span>
      </div>
          
      <video id="antmaze_exp_qual_list_dset" muted autoplay="" preload="metadata" style="max-width: 350px">
        <source src="{{ base_path }}/media/piwm/baseline_1.mp4"  type="video/mp4">
      </video>
    </div>

    <div class="continuous_racing_item" id="piwm2_baseline">
      <div class="multi_hor_rm2d_caption cal_our_qual_caption" > 
        Baseline with Eat up (<a sa href="https://arxiv.org/abs/2405.12399"  target=_blank >DIAMOND</a>)
        <span class="splide_kuka_prob_id_repl">
          <span class="replay_lb_suc" video_section="piwm2_baseline">
            <img src="media/replay.png" style="width: 15px; height: auto;"/>
            <span>replay</span>
          </span>
        </span>
      </div>

      <video id="antmaze_exp_qual_list_rollout" muted autoplay="" preload="metadata" style="max-width: 350px">
        <source src="{{ base_path }}/media/piwm/baseline_2.mp4" type="video/mp4">
      </video>

    </div>

    <div class="continuous_racing_item" id="piwm1">
      <div class="multi_hor_rm2d_caption cal_our_qual_caption" > 
        Soft Mask  with Consistency
        <span class="splide_kuka_prob_id_repl">
            <span class="replay_lb_suc" video_section="piwm1">
              <img src="media/replay.png" style="width: 15px; height: auto;" />
              <span>replay</span>
            </span>
        </span>
      </div>
          
      <video id="antmaze_exp_qual_list_dset" muted autoplay="" preload="metadata" style="max-width: 350px">
        <source src="{{ base_path }}/media/piwm/softmask_1.mp4"  type="video/mp4">
      </video>
    </div>

    <div id="piwm2">
      <div class="multi_hor_rm2d_caption cal_our_qual_caption" > 
        Soft Mask  with Consistency
        <span class="splide_kuka_prob_id_repl">
          <span class="replay_lb_suc" video_section="piwm2">
            <img src="media/replay.png" style="width: 15px; height: auto;"/>
            <span>replay</span>
          </span>
        </span>
      </div>

      <video id="antmaze_exp_qual_list_rollout" muted autoplay="" preload="metadata" style="max-width: 350px">
        <source src="{{ base_path }}/media/piwm/softmask_4.mp4" type="video/mp4">
      </video>

    </div>

  </div>

  <div class="left-caption" style="margin-top: 10px;">
    The <b class="cpdfu_gradient_text">Physics-Informed World Model</b> is a lightweight generative model that predicts future images conditioned on the current scene and control inputs. By incorporating the relative distance between the ego vehicle and surrounding vehicles via a <b class="cpdfu_gradient_text">soft mask</b> as an additional conditioning signal, it effectively captures inter-vehicle interactions, thereby enabling forecasting with strong existential and temporal consistency in dynamic environments.

    <div class=btn-links style="display: inline; margin-left: 5px;">
      <a class="btn btn-outline-primary btn-page-header btn-sm show-button-big" 
          href="https://physics-wm.github.io/" 
          style="text-decoration: none;"
          target=_blank 
          rel=noopener>
          Web
      </a>
    </div>

    <div class=btn-links style="display: inline; margin-left: 0px;">
      <a class="btn btn-outline-primary btn-page-header btn-sm show-button-big" 
          href="https://arxiv.org/abs/2509.12437" 
          style="text-decoration: none;"
          target=_blank 
          rel=noopener>
          PDF
      </a>
    </div>

    <div class=btn-links style="display: inline; margin-left: 0px;">
      <a class="btn btn-outline-primary btn-page-header btn-sm show-button-big" 
          href="https://github.com/TUM-AVS/physics-wm" 
          style="text-decoration: none;"
          target=_blank 
          rel=noopener>
          Code
      </a>
    </div>

  </div>


<br>

<div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #d3d3d3;">
  <h1 id="News-section">🔥 News</h1>
</div>

<div class="scrollable-content">
    <p style="line-height: 1; text-align: justify;  font-size: 16px;">
    <ul style="font-size: 16px;">
        <li><strong>[Sep. 2025]</strong> 🔥🔥🔥 I have released the implementation of <a sa href="https://github.com/zhouhengli/ritp"  target=_blank >RITP</a> and <a sa href="https://github.com/zhouhengli/rstp-mpc-planner"  target=_blank >RSTP-MPC</a>.</li>
	      <li><strong>[May 2025]</strong> 🔥🔥🔥 I will present our work about VPMPCC for racing from 16:35 to 16:40 on Thursday in Room 406 at ICRA 2025.</li>
    	<!-- <li><strong>[Mar. 2025]</strong> 🎉🎉🎉 Our paper about <a sa href="https://arxiv.org/pdf/2410.05740"  target=_blank >drift in extreme turning</a> that utilizes mpc is accepted by <a sa href="https://ieee-iv.org/2025/"  target=_blank >IV 2025</a>.</li> -->
        <li><strong>[Mar. 2025]</strong> 🔥🔥🔥 I have released the <a sa href="https://github.com/zhouhengli/VPMPCC"  target=_blank >VPMPCC</a>, a local trajectory planning method with velocity prediction for autonomous racing.</li>
        <!-- <li><strong>[Feb. 2025]</strong>  🎉🎉🎉 Our paper about <a sa href="https://arxiv.org/abs/2502.04696"  target=_blank >adaptive learning-based model predictive control (ALMPC) strategy</a> that utilizes Bayesian optimization is accepted by the Journal <a sa href="https://www.sciencedirect.com/journal/robotics-and-autonomous-systems"  target=_blank >Robotics and Autonomous Systems</a>.</li> -->
        <li><strong>[Jan. 2025]</strong>  🎉🎉🎉 Our paper about <a sa href="https://arxiv.org/pdf/2410.11570"  target=_blank >data-driven aggressive autonomous racing framework</a> using velocity prediction MPCC and Bayesian optimization is accepted by <a sa href="https://2025.ieee-icra.org/"  target=_blank >ICRA 2025</a>.</li>
        <li><strong>[Nov. 2024]</strong> 🔥🔥🔥 I have released the <a sa href="https://github.com/zhouhengli/CiMPCC"  target=_blank >CiMPCC</a>, a local trajectory planner for autonomous racing.</li>
        <!-- <li><strong>[Oct. 2024]</strong> 🔥🔥🔥 Our research on <a sa href="https://arxiv.org/pdf/2410.22643"  target=_blank >overtaking trajectory planning framework</a> using  spatio-temporal topology and reachable set analysis is now available.</li> -->
        <!-- <li><strong>[Oct. 2024]</strong> 🔥🔥🔥 Our research on <a sa href="https://arxiv.org/pdf/2410.11570"  target=_blank >data-driven aggressive autonomous racing framework</a> using velocity prediction MPCC and bayesian optimization is now available.</li> -->
        <li><strong>[Sep. 2024]</strong>  🎉🎉🎉 Our paper about <a sa href="https://www.sciencedirect.com/science/article/abs/pii/S0921889024002008"  target=_blank >rapid and safe trajectory planning for automated parking</a> using path-velocity decomposition is accepted by the Journal <a sa href="https://www.sciencedirect.com/journal/robotics-and-autonomous-systems"  target=_blank >Robotics and Autonomous Systems</a>.</li>
        <li><strong>[Jul. 2024]</strong> 🎉🎉🎉 Our paper about <a sa href="https://its.papercept.net/conferences/scripts/abstract.pl?ConfID=87&Number=278"  target=_blank >Curvature-Integrated MPCC</a> for autonomous racing is accepted by <a sa href="https://ieee-itsc.org/2024/"  target=_blank >ITSC 2024</a>.</li>
        <!-- <li><strong>[Mar. 2024]</strong> 🎉🎉🎉 Our paper about <a sa href="https://ieeexplore.ieee.org/abstract/document/10588721"  target=_blank >aggressive drifting</a> for minimum time cornering based on MPC is accepted by <a sa href="https://ieee-iv.org/2024/"  target=_blank >IV 2024</a>.</li> -->
    </ul>
    </p>
</div>


<div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #d3d3d3;">
  <h1 id="publications-section">📝 Selected Publications</h1>
</div>



<p style="line-height: 1; text-align: justify;  font-size: 16px;"></p>
<ul style="font-size: 16px;">
  <sup>*</sup> means equal contribution.
  {% assign stored_posts = "" %}

  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% assign sorted_posts = site.publications | sort: 'weight' %}
    {% for post in sorted_posts %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% if post.paperteaser %}
      <li>
        {% include archive-single-about.html %}
      </li>
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% for category in site.publication_category  %}
  {% assign title_shown = false %}
  {% assign filtered_posts = site.publications | where_exp: "post", "post.weight >= 0" %}
  {% assign sorted_posts = filtered_posts | sort: 'weight' %}
  {% for post in sorted_posts %}
    {% if post.category != category[0] %}
      {% continue %}
    {% endif %}
      {% unless post.paperteaser %}
        <li>
          {% include archive-single-about.html %}
        </li>
      {% endunless %}
    {% endfor %}
  {% endfor %}
</ul>

<div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #d3d3d3;">
  <h1 id="Competitions-section">🏁 Competitions</h1>
</div>

<p style="line-height: 1; text-align: justify; font-size: 16px;">
    <ul style="font-size: 16px;">
        <li><a sa href="https://iv2024-race.f1tenth.org/results.html"  target=_blank >4th place</a> in <a sa href="https://iv2024-race.f1tenth.org/"  target=_blank >18TH F1TENTH autonomous grand prix by IV 2024</a> 
        <br>
          2024 IEEE Intelligent Vehicles Symposium (IV 2024), June 3rd - 5th 2024, Jeju Shinhwa World, Jeju Island, Korea  
        <br>
            <strong>Zhouheng Li</strong>, Cheng Hu, Bei Zhou, Yonghao Fu, Guoqiang Wu, Yangyang Xie<br>
        </li>
  </ul>
</p>
<br>

<div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #d3d3d3;">
  <h1 id="statistics-section">🤗 So Glad You're Here!</h1>
</div>

<p style="line-height: 1.5; text-align: justify; font-size: 16px;">
  <span style="display: inline-block; text-indent: 2em;">I truly appreciate everyone who takes the time to visit my homepage :)</span>
</p>

<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=600&t=tt&d=9qys66gQTt6HOPhHrAsOe8u_6WXi9LmFaGJr3eGMgMk&co=58a1d5'></script>


