---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my papers on <a href="https://scholar.google.com.hk/citations?hl=zh-CN&user=uLVKrmYAAAAJ">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
  {% assign title_shown = false %}
  {% unless title_shown %}
    <h2>{{ category[1].title }}</h2><hr />
    {% assign title_shown = true %}
  {% endunless %}
  <ol style="counter-reset: item;">
    <!-- {% assign sorted_posts = site.publications | sort: 'weight' %} -->
    {% assign positive_posts = site.publications | where_exp: "post", "post.weight >= 0" | sort: "weight" %}
    {% assign non_positive_posts = site.publications | where_exp: "post", "post.weight < 0" | sort: "weight" %}
    {% assign sorted_posts = positive_posts | concat: non_positive_posts %}
    {% for post in sorted_posts %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      <li>
        {% include archive-single.html %}
      </li>
    {% endfor %}
  </ol>
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}